@media screen and (max-width: 1300px) {

  .wrapper .single-post * {
    max-width: 100%;
  }


  .contactCardsWrapper {
    width: 100%;
    padding: 0 !important;
  }

  #linkDiv button {
    margin: 1vh !important;
  }

  .aboutUs {
      padding: 0 !important;
  }



} /* media screen */


@media screen and (max-width: 1200px) {
  .wrapper {
    max-width: 800px;
  }
}

@media screen and (max-width: 900px) {

  #linkDiv button {
    font-size: .8em;
  }

  .dashboard div {
    display: block;
    width: 100%;
    margin: 1em 0;
  }

  .wrapper {
    max-width: 700px;
  }
  .post-wrapper .post, .last-posts .post {
    display: block;
    width: 100%;
    margin: 2em 0 0 0;
    text-align: center;
    padding: 0;
  }
  .post-wrapper span {
    padding: .5em;
    color: var(--blue);
  }
  .post-wrapper .post img {
    height: 8em;
  }
  #daysInAWeek section div {
    width: 40%;
    margin: 0;
  }

  .single-post .post-image {
    display: none;
  }

  .single-post h1, .single-post .title {
    font-size: 1.5em;
    margin-top: 1em;
  }

  header nav {
    display: none;
  }
    header nav.active {
      display: block;
      position: fixed;
      width: 100vw;
      height: 100vh;
      background-color: #fff;
      z-index: 100;
      margin: 0;
      padding: 1em 0 1em 1em;
      top: 0;
      left: 0;
    }
    header nav.active * {
      color: var(--blue);
      display: block;
      text-align: left;
    }

  #menuToggle {
    display: inline-block;
    float: right;
    color: var(--blue);
    font-size: 2em;
  }

  #menuClose {
    display: block;
    text-align: right;
    font-size: 2em;
    font-weight: 600;
  }
  .list-authors .author {
    display: block;
    width: 100%;
    margin: 2em 0;
  }


}

@media screen and (max-width: 700px) {

  .landing {
    background-position: bottom;
    background-size: 80%;
    height: 300px;
  }
    .title {
      font-size: 1.3em;
    }
    .subtitle {
      font-size: 1em;
    }

  .commonTitle {
    font-size: 1em;
    font-weight: 400;
  }

  .wrapper {
    max-width: 500px;
  }
  #daysInAWeek section {
    text-align: left;
    width: 100%;
  }
  #daysInAWeek section div {
	display: block;
    width: 90%;
    margin: 1em auto;
  }

  .share {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    max-width: 350px;
  }
}

@media screen and (max-width: 400px) {
  .wrapper {
    max-width: 300px;
  }
}
